#pending-count {
  color: #37323e;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  background-color: white;
  border: 1px solid #781323;
}

@media (max-width: 992px) {
  #pending-title,
  #send-nominations {
    border-radius: 0;
  }
}
