#nominee-section {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#pending-count {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  border: 1px solid #781323;
}

#pending-title {
  background-color: #781323;
}

@media (min-width: 992px) {
  #nominee-section {
    position: relative;
  }

  #pending-title {
    background-color: white;
  }

  #nomineeList {
    display: block;
  }
}
